# Section 1: Mathematical Operations

Mathematical operations are the key to design any chemical engineering process. In this Section, we will learn how to implement basic mathematical operations using python. In this complete course, we will be dealing with these matheamtical operations, so it is very important to understand how to implement these operations.

$\color{blue}{\text{1.1: Basic Operations}}$

In [ ]:
#Assign values to variables with = operator
#Variable name can only contain numbers, letters and underscore and can not start with number
a = -4
b = 6
a = 3       #variable 'a' is defined two times but by default in python variable stores only the latest defined value
print(a)    #print statements are used to show the values stored inside the variable

In [ ]:
a + b       #it performs the operation "addition" but doesnot store the output

In [ ]:
c = a + b   #it performs the operation "addition" and then also stores the output in variable named 'c' 
            #Note: when you run the code output window shows nothing, why?????

In [ ]:
a - b    #subtraction
a * b    #multiplication
a / b    #division
a**b     #exponent
a//b     #floor division

In [ ]:
#Imaginary numbers
i = (-1)**0.5
print(i)    #output is not exactly iota (imaginary number), why ??????
print(i**2) #output will not be exactly -1, why ???????'

In [ ]:
a = complex(2,2)
b = pow(a,2)
c = abs(a)  
#Note: Algebra (Basic Opwerations) of complex numbers can be written similarly as of real numbers as explained above.

In [ ]:
import cmath
cmath.sin(2 +3j)

$\color{blue}{\text{1.2: Operator Preferences}}$

In [ ]:
''' 
1. Paranthesis
2. Exponent
3. Negation
4. Multiplication, Floor division and Division (Same preference, whichever written first from the left)
6. Addition and Subtraction (Same preference)'''

#Example set  
a1 = -1**2
a2 = (-1)**2

a3 = -2*3//4
a4 = -2*(3//4)

#Note: you can practice writting random combination of any numbers and operations here and calculate it manually to cross check

$\color{blue}{\text{1.3: Libraries for Mathematical Operations}}$

In [ ]:
import numpy as np       #in general practice all the libraries should be collected at the very start of project code
import math
print(np.log(2))
print(math.log(2))
print(np.log10(2))
print(math.log10(2))
print(np.sqrt(2))
print(np.pi)
np.sin(2)  #2 is in radians by default
np.cos(2)
np.tan(2)

$\color{blue}{\text{1.4: Arrays}}$

In [ ]:
#manually creating array
a = np.array([1,2,3,4,5]) #never use only one square bracket while defining any 'Array (matrix or vector)' manually
a1 = np.array([[1,2,3,4,5]])
print(a.shape)    #a.shape is used to check the shape of array 'a'
print(a1.shape)

In [ ]:
#Indexing in Python begins with 0 and not with 1, the following print command is going to return 1:
a1 = np.array([[1,2,3,4,5]])
print(a1[0,0])

In [ ]:
a = np.array([[1,2,3,4,5],[6,7,8,9,10]])  #a is two dimensional matrix
b = a[0:2,1:4] 
print(b)
b[0,1] = 8           # this will change both a and b!
print(a)

In [ ]:
# make a copy like this:
a = np.array([[1,2,3,4,5],[6,7,8,9,10]])
c = np.array(a[0:2,1:4], copy=True) # copy=True can be omitted
c[0,1] = np.random.rand() # changes only c
print(a)

In [ ]:
b = np.array([[1,2,3,4,5],[6,7,8,9,10]])   
c = np.array([[1,2,1,2,4],[3,2,6,1,3]]) 
d8 = np.dot(b,c)   #error why??????
print(d8)

In [ ]:
c = c.reshape(5,2)     #how this is reshaped????
d8 = np.dot(b,c)       
print(d8)

In [ ]:
#equally spaced value array
a1 = np.linspace(start=0, stop=2, num=11)
print(a1)
print(a1.shape)    #by default it creates (11,) shape which needs to be reshaped using a1.reshape(11,1) or a1.reshape(1,11) as or if required

In [ ]:
#Example
T = np.linspace(300, 700, 3)  #T is temperature
n = 2
R = 8.314
V = 10
P = n*R*T/V             #Ideal gas law
P

In [ ]:
#randomly creating arrays of any size
a1 = np.random.rand(2,4)

In [ ]:
a =np.random.rand(4,2,3)  # Arrays (Matrices) with more than 2 dimensions has last dimesnion written at the start
b = a.reshape(6,4,1)      # how it is reshaped??????
print(a)
print(b)

In [ ]:
# Different operations on numpy Arrays
a = np.random.rand(2,4)
b = np.random.rand(4,3)
c = np.random.rand(2,4)

sum = a + c
subtract = a - c
multiply = a * c
divide = a / c
power = a**c
floor = a//c
dot_product = np.dot(a,b)
transpose = np.transpose(a)
constant_addition = a + 2
concatenate = np.concatenate((a,c), axis=1)     # sticks multiple arrays along one of the existing axis, by default axis = 0
stack = np.stack((a,c))                 #sticks multiple arryas along the new axis
a, c, concatenate, stack

# Section 2: Data Types in Python
When we work with any project it is very important to understand what type of  Data we are working with so that we can process the data in that format otherwise we might face errors and bugs in the code. Major data types are as follows: 
1.   None     
2.   Numeric  
3.   List
4.   Tuple
5.   Set
6.   String
7.   Range
8.   Map / Dictionary

$\color{blue}{\text{2.1: None}}$

In [ ]:
a = None      #we never use this
print(type(a))

$\color{blue}{\text{2.2: Numeric}}$

In python numeric data type represents the data which has numeric value. Based on type of numeric values Numeric data type is of four types:

$\color{black}{\text{2.2.1: int}}$

$\color{black}{\text{2.2.2: float}}$

$\color{black}{\text{2.2.3: complex}}$

$\color{black}{\text{2.2.4: bool}}$

In [ ]:
a = 2
print(type(a))

b = 3.5
print(type(b))

c = 6 + 7j
print(type(c))

In [ ]:
a = 3.9
b = int(a)   #converting float into int

c = 2
d = float(c)   #converting int into float

k = 7
m = complex(k)

#Note: converting complex to float or complex to int (no sense)

In [ ]:
a = 3
b = 4
c = a < b
d = int(c)
print(c)    # output is either True or False
print(d)       # int(bool) outputs '1' for True and '0' for False

$\color{blue}{\text{2.3: String}}$

The string is a sequence of unicode characters and is defined as collection of 1 or more characters inside a quotation mark, double-quote or triple-quote.

In [ ]:
a = 'Hello World'         # collection of unicode characters defined inside quotation mark
b = "1"                   # collection of unicode characters defined inside double-quote mark
c = '''2'''               # collection of unicode characters defined inside triple-quote mark
print(type(a))
print(type(b))
print(type(c))
a[6],a[-1]                 # way to access the elements of string

In [ ]:
#concatenation of strings
string1 = "Hello"
string2 = " World"
string = string1 + string2
new_string = string1[0:2] + string2[-1]
string, new_string

In [ ]:
#slicing of strings
string1 = "Hello"
a = string1[0]
b = string1[2:4]
c = string1[2:]
a, b, c

$\color{blue}{\text{2.4: List}}$

List is a collection of elements and each element can have any data type.

In [ ]:
a = [1,2,3,4]               #list is defined inside square brackets
type(a), len(a), a[0], a[-1]

#operations on numbered lists
min(a)
max(a)
sum(a)

In [ ]:
courses = ['History', 'Math', 'Physics', 'Chemistry']
courses.append('Arts')      #.append takes only one argument of what we want to add and adds it at the last of the list

In [ ]:
courses = ['History', 'Math', 'Physics', 'Chemistry']
courses.insert(1, 'Arts')      #.insert takes 2 arguments namely  'at which position'  in the list we want to add and 'what' we want to add

In [ ]:
courses = ['History', 'Math', 'Physics', 'Chemistry']
courses_2 = ['Arts', 'Commerce']
courses.extend(courses_2)   #.extend simply adds all the elements of one list to another list at the last
courses

#other operations on list (Try yourself)  
courses.pop()
courses.reverse()
b = courses.sort()               #sort the list in alphabetical order or ascending numeric order
courses.sort(reverse=True)
len(courses)     #returns the total number of elements in the list
courses.index('Math',0,2)   #searches the index of 'Math' in course (list) from position 0 to position 2 (if specified)

In [ ]:
#slicing of list is used to extract part of the list
courses = ['History', 'Math', 'Physics', 'Chemistry']
courses[:3], courses[2:], courses[2:4], courses[:]

In [ ]:
a = ["One", 2 , "3", [4, "5"],]
type(a), type(a[0]), type(a[1]), type(a[2]), type(a[3]), type(a[3][0]), type(a[3][1])

$\color{blue}{\text{2.5: Set}}$

In [ ]:
a = {1,2,3,4}                #set is defined inside curly brackets
type(a)

$\color{blue}{\text{2.6: Tuple}}$

They work same as lists but list are mutable where as tuples are immutable. We cannot use operations like .append, .insert, .extend etc. to modify tuple.

**Tip:**

*   If you need something that you can modify, use lists.
*   If you just want something which you want to loop through or just access, use tuple.

In [ ]:
a = (1,2,3,4)     #tuple is defined inside open brackets
type(a), a[0], a[-2]

$\color{blue}{\text{2.7: Map/Dictionary}}$

In [ ]:
data = {1:'Maths', 2:'Chemistry', 4: 'Physics'}         #Each element of dictionary has a key and a value
data[1], data.get(3), data.get(3, 'Not Found'),

In [ ]:
keys = ['Maths','Chemistry','Physics']      
values = ['Python','Java','C++']
data = dict(zip(keys,values))
data
#we can combine two lists to make a dictionary
#we can pass specific key to dictionary and it will retuen its value but vice versa is not

# Section 3: Plotting and Visualization

Data visualization is an important skill to possess for anyone trying to extract and communicate insights from data. In the field of machine learning, visualization plays a key role throughout the entire process of analysis.

$\color{blue}{\text{3.1: Library for plots}}$

In [1]:
import numpy as np
import matplotlib.pyplot as plt           #Library for plots
import pandas as pd                       #Library for Data importing and handling
                                          # Note: Always collect all libraries at the very beginning of the complete code

$\color{blue}{\text{3.2: Functional Plot}}$

In [ ]:
x = np.linspace(0,10,11)
y = x**2
plt.plot(x,y)
plt.title('x vs y')
plt.xlabel('x')
plt.ylabel('y')
plt.show()            #need to use this statement to show the plot in output window if you are not using google colab or jupyter

$\color{blue}{\text{3.3: Multiple Plots}}$

In [ ]:
plt.subplot(2,2,1)    
plt.plot(x,y,'r')
plt.subplot(2,2,2)
plt.plot(x,y,'b')
plt.subplot(2,2,3)
plt.plot(y,x,color ='orange')
plt.subplot(2,2,4)
plt.plot(y,x**2,'y')

$\color{blue}{\text{3.4: Figure Object}}$

Figure is an object that contains all plots elements and can contain many axes inside one figure

In [ ]:
plot_1 = plt.figure(figsize=(5,4), dpi=100)
axes_1 = plot_1.add_axes([0,0,1,1])
axes_1.set_xlabel('X')
axes_1.set_ylabel('Y')
axes_1.set_title('X vs Y')
axes_1.plot(x, y, label='x/x^2', color='navy', alpha=.75, lw=2, ls='-.', marker='o', markersize=7, markeredgecolor='y', markeredgewidth=4)
axes_1.plot(y,x,label = 'x^2/x')
axes_1.legend(loc=0)

axes_2 = plot_1.add_axes([0.4,0.5,0.4,0.3])
axes_2.plot(x,y,'r')
#you can also zoom in part of the figure by setting xlimit and ylimit using axes_2.setxlimit and axes_2.setylimit
#you can change the background using axes_2.grid(), take help from google to see the arguments to be passed

$\color{blue}{\text{3.5: Subplots}}$

In [ ]:
plot_3, axes_3 = plt.subplots(figsize = (8,4),nrows=2,ncols=3)
plt.tight_layout
axes_3[0,0].set_title('fig 1')
axes_3[0,0].set_xlabel('X')
axes_3[0,0].set_ylabel('Y')
axes_3[0,0].plot(x,y,'r')

axes_3[1,0].set_title('fig 2')
axes_3[1,0].set_xlabel('X')
axes_3[1,0].set_ylabel('Y')
axes_3[1,0].plot(x,y,'b')

$\color{blue}{\text{3.6: Save Visualization to a File}}$

In [14]:
plot_3.savefig('1st plot.pdf')

$\color{blue}{\text{3.7: Pandas DataFrame}}$

In [ ]:
import numpy as np
import matplotlib.pyplot as plt           #Library for plots
import pandas as pd   
data = pd.read_excel('/content/raw_data.xlsx')        #Note: download this data file from elearning
data.sort_values(by = 'materials')            #very useful to readjust the data in desired format
print(data.head())
data_array = np.array(data)

$\color{blue}{\text{3.8: Scattered Plots}}$

In [ ]:
x = data_array[:,1]
y = data_array[:,4]
plt.scatter(x,y)
plt.title('Material_Index vs Adsorbate_Index')
plt.xlabel('Material_Index')
plt.ylabel('Adsorbate_iNDEX')
plt.show()

In [ ]:
x = np.linspace(0,10)
y = x
original = np.array([[1.2,2.3,4.5,6.7,7.9]])
predicted = np.array([[1.1,2.29,4.1,6.2,8.9]])
plt.plot(x,y,'r')
plt.scatter(original,predicted)
plt.title('original vs predicted')
plt.xlabel('original')
plt.ylabel('predeicted')
plt.show()

$\color{blue}{\text{3.9: Histogram}}$


*   Histograms are very oftenly used in Machine learning projects to visualise different type of data.
*   Histogram needs one dimensional data as an input and it groups that data in bins (we choose bin size based on our requirements)  and visualize the frequency of each group.

In [ ]:
#example 1: sugar level of different number of people
sugar_level = [113,85,90,150,147,81,95,113,132,87,72,80,129]
a = min(sugar_level)
print(a)
b = max(sugar_level)
print(b)
N = 5   #length of each bin
number_of_bins = int((b - a)/N)
print(number_of_bins)
plt.hist(sugar_level, bins=number_of_bins)

In [ ]:
#example 2: error data
a = np.array([1.2,2.4,3.6,4.8,6,7.2,3.4,2.323,3.77])    #original values
b = np.array([1.1,2.39,3.57,4.67,6.2,7.23,3.41,2.32,3.768])     #predicted values
c = a-b
N = 0.01
number_of_bins = int((max(c) - min(c))/N)
c
plt.hist(c, bins=number_of_bins)    #you can learn how to add more details by yourself by passing more arguments

$\color{blue}{\text{3.10: 3d Plots}}$

In [8]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits import mplot3d
from matplotlib import cm

In [ ]:
fig = plt.figure(figsize=[12,8])
ax = fig.gca(projection='3d')
plt.show()

In [ ]:
# Data for a three-dimensional line
fig = plt.figure(figsize=[12,8])
ax = fig.gca(projection='3d')
z = np.linspace(0, 15, 1000)
x = np.sin(z)
y = np.cos(z)
ax.plot3D(x, y, z, 'gray')

# Data for three-dimensional scattered points
z1 = 15 * np.random.random(100)
x1 = np.sin(z1) + 0.1 * np.random.randn(100)
y1 = np.cos(z1) + 0.1 * np.random.randn(100)
ax.scatter3D(x1, y1, z1, c=z1, cmap='Greens');
#ax.view_init(35, 0)      # to adjust the angle of view
fig = plt.figure(figsize=[12,8])

In [ ]:
f = lambda x,y: np.sin(x) * np.cos(y)       #lambda is a small function which can take any number of arguments but can include only one expression
x = np.linspace(-2,2,10)
y = np.linspace(-2,2,10)
X,Y = np.meshgrid(x,y)
F = f(X,Y)

def plot(L,M):
  fig = plt.figure(figsize=[12,8])
  ax = fig.gca(projection='3d')
  ax.view_init(L,M)
  ax.plot_surface(X, Y, F, cmap=cm.coolwarm)
plot(0,30)
# To learn more about 3d plots follow the link (ctrl + click) https://colab.research.google.com/github/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/04.12-Three-Dimensional-Plotting.ipynb

# Section 4: Conditional Statements and loops

$\color{blue}{\text{4.1: Conditionals}}$

1. if
2. if else
3. if elif else
4. nested if

In [11]:
# if statements
a = 7
b = 13
if a>b:
  print('a is greater')

In [ ]:
#if else statements
a = 7
b = 13
if a>b:
  print('a is greater then b')
else:
  print('b is greter than a')

In [ ]:
#if elif else statements
a = 7
b = 7
if a>b:
  print('a is greater than b')
elif a<b:
  print('b is greter than a')
else:
  print('a and b are equal')

In [ ]:
#nested if statements
a = 50
b = 25
if a>b:
  print('a is greater than b')
  if a>0:
    print('also a is greter than 50')
    if a>75: 
       print('and a is greter than 75')

if a<b:
  print('b is greater than a')

$\color{blue}{\text{4.2: Loops}}$

1. for loop
2. while loop

In [ ]:
# for loop
a =[22,33,44,55]
for i in a:
  print(i)

In [ ]:
# for loop
a =[22,33,44,55]
for i in a:
  if i>30:
    print('a is greater than 30')
  else:
    print('a is less than 30')

In [ ]:
for i in range(1,6):
  print(i)

In [ ]:
#while loop
a = True
i = 0
while a:
  i=i+1
  print(i)
  if i==5:   #== is used to compare the equality of two objects
    a = False

In [ ]:
a = [22,33,44,55,66]
i = 0
while i<len(a):
  print(a[i])
  i=i+1