# Section 1: Mathematical Operations

Mathematical operations are the key to design any chemical engineering process. In this Section, we will learn how to implement basic mathematical operations using python. In this complete course, we will be dealing with these matheamtical operations, so it is very important to understand how to implement these operations.

$\color{blue}{\text{1.1: Basic Operations}}$

$\color{blue}{\text{1.2: Operator Preferences}}$

$\color{blue}{\text{1.3: Libraries for Mathematical Operations}}$

$\color{blue}{\text{1.4: Arrays}}$

# Section 2: Data Types in Python
When we work with any project it is very important to understand what type of  Data we are working with so that we can process the data in that format otherwise we might face errors and bugs in the code. Major data types are as follows: 
1.   None     
2.   Numeric  
3.   List
4.   Tuple
5.   Set
6.   String
7.   Range
8.   Map / Dictionary

$\color{blue}{\text{2.1: None}}$

$\color{blue}{\text{2.2: Numeric}}$

In python numeric data type represents the data which has numeric value. Based on type of numeric values Numeric data type is of four types:

$\color{black}{\text{2.2.1: int}}$

$\color{black}{\text{2.2.2: float}}$

$\color{black}{\text{2.2.3: complex}}$

$\color{black}{\text{2.2.4: bool}}$

$\color{blue}{\text{2.3: String}}$

The string is a sequence of unicode characters and is defined as collection of 1 or more characters inside a quotation mark, double-quote or triple-quote.

$\color{blue}{\text{2.4: List}}$

List is a collection of elements and each element can have any data type.

$\color{blue}{\text{2.5: Set}}$

$\color{blue}{\text{2.6: Tuple}}$

They work same as lists but list are mutable where as tuples are immutable. We cannot use operations like .append, .insert, .extend etc. to modify tuple.

**Tip:**

*   If you need something that you can modify, use lists.
*   If you just want something which you want to loop through or just access, use tuple.

$\color{blue}{\text{2.7: Map/Dictionary}}$

# Section 3: Plotting and Visualization

Data visualization is an important skill to possess for anyone trying to extract and communicate insights from data. In the field of machine learning, visualization plays a key role throughout the entire process of analysis.

$\color{blue}{\text{3.1: Library for plots}}$

$\color{blue}{\text{3.2: Functional Plot}}$

$\color{blue}{\text{3.3: Multiple Plots}}$

$\color{blue}{\text{3.4: Figure Object}}$

Figure is an object that contains all plots elements and can contain many axes inside one figure

$\color{blue}{\text{3.5: Subplots}}$

$\color{blue}{\text{3.6: Save Visualization to a File}}$

$\color{blue}{\text{3.7: Pandas DataFrame}}$

$\color{blue}{\text{3.8: Scattered Plots}}$

$\color{blue}{\text{3.9: Histogram}}$


*   Histograms are very oftenly used in Machine learning projects to visualise different type of data.
*   Histogram needs one dimensional data as an input and it groups that data in bins (we choose bin size based on our requirements)  and visualize the frequency of each group.

$\color{blue}{\text{3.10: 3d Plots}}$

# Section 4: Conditional Statements and loops

$\color{blue}{\text{4.1: Conditionals}}$

1. if
2. if else
3. if elif else
4. nested if

$\color{blue}{\text{4.2: Loops}}$

1. for loop
2. while loop